altgraph==0.16.1
click==6.7
cql==1.4.0
dis3==0.1.2
Flask==1.0.2
future==0.16.0
itsdangerous==0.24
Jinja2==2.10
macholib==1.10
MarkupSafe==1.0
pefile==2017.11.5
PyInstaller==3.3.1
six==1.11.0
thrift==0.10.0
virtualenv==16.0.0
Werkzeug==0.14.1
